* {
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

.nav_container {
    display: flex;
    align-items: center;
    height: 86px;
    justify-content: space-evenly;
    list-style: none;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    padding: 10px 20px;
}

.nav_container .nav_links {
    display: flex;
    padding: 0;
    margin-left: 300px;
    gap: 40px;
}

.nav_container .nav_links li {
    justify-content: space-between;
}

p a {
    font-weight: 300;
    transform: translateX(100%);
    font-size: 30px;
    text-decoration: none;
    color: #202020;
    cursor: pointer;

}



.nav_container .nav_links li a {
    text-decoration: none;
    font-size: large;
    color: rgb(68, 68, 66);
    font-weight: 600;
    justify-content: space-evenly;
}

.nav_container .nav_links li a:hover {
    color: rgb(187, 187, 184);
    border: none;
    border-bottom: 2px solid rgb(219, 219, 218);

    border-radius: 0px;
}

.about {
    text-align: center;
    margin-top: 25px;
    opacity: 0;
    transform: translateY(20px);
    animation: fadeIn 2s ease-out forwards;
}

.about h4 {
    font-size: 14px;
    color: gray;
}

@keyframes fadeIn {
    to {
        opacity: 2;
        transform: translateY(0);
    }
}

.container-wrapper {
    display: flex;
    gap: 100px;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;

}

.container {
    background: white;
    padding: 30px;
    border-radius: 10px;
    border: 1px solid black;
    margin-top: 20px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 30%;
    text-align: center;
    opacity: 0;
    transform: translateY(20px);
    animation: fadeIn 2s ease-out forwards;
}
@keyframes fadeIn {
    to {
        opacity: 2;
        transform: translateY(0);
    }
}

.container h2 {
    margin-bottom: 15px;
}

.skills {
    display: grid;
    margin: 5px;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
}

.skill {
    display: flex;
    margin-top: 10px;
    align-items: center;
    gap: 20px;
    text-align: left;
}

.skill img {
    width: 18px;
    height: 18px;
    margin-left: 10px;
}

.level {
    font-size: 12px;
    float: left;
    color: gray;
}

.footer {
    text-align: center;
    padding: 10px 0;
    margin-top: 40px;
    color: rgb(65, 63, 63);
    opacity: 0; 
    transform: translateY(20px); 
    animation: fadeIn 1s ease-out forwards;
}
@keyframes fadeIn {
    to {
        opacity: 2;
        transform: translateY(0);
    }
}